body {
    font-family: 'Pompiere', cursive;
}
header {
    background: #0C4441;
    color: #F7F9DD;
}

img {
    width: 200px;
    padding: 20px;
}

li {
    display: inline;
    padding: 20px;
    text-transform: uppercase;
}