body {
    font-size: 1em;
    line-height: 1.5em;
    font-family: 'Forum', cursive;
}

div {
    padding: 20px
}

h1 {
    font-size: 1.5em;
    color: #0C4441;
    padding: 20px;
}

p {
    padding: 20px;
}

header {
    background: #0C4441;
    color: #F7F9DD;
}

nav {
    text-align: center;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

li {
    display: inline;
    padding: 10px;
    font-size: 0.85em;
}

a {
    text-decoration: none;
    color: #F7F9DD;    
    text-transform: uppercase;
}

.hero__img {
    width: 100%;
}

.ana__footer {
    background: #0C4441;
    font-size: 1em;
    color: #F7F9DD;
    text-align: center;
}

.ana__email-footer {
    color: #F7F9DD;
    text-transform: lowercase;
}

.ana__email-footer:hover {
    background: rgb(32, 107, 103);
}

/*CONTACT*/
.contact__img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.ana__email {
    color: #0C4441;
    text-transform: lowercase;
}

.ana__email:hover {
    background: #F7F9DD;
}

/*SERVICES*/
.services__list-item {
    display: block;
    font-size: 1.25em;
    margin-left: 50px;
}



/* DESKTOP */
@media (min-width: 1281px) {
    h1 {
        font-size: 3em;
        padding: 40px;
    }
    
    p {
        font-size: 1.5em;
        line-height: 2em;
    }
    .ana {
        height: 150px;
        background: #0C4441;
    }
    
    nav {
        float: right;
        padding: 20px;
    }
    
    .logo {
        max-width: 200px;
        position: absolute;
        left: 10px;
        top: 5px;
    }

    .main__welcome {
        max-width: 70%;
        margin: auto;
    }

    .ana__nav-li {
        font-size: 2em;
        padding: 30px;
    }
}